@import url(https://fonts.google.com/specimen/Plus+Jakarta+Sans); 

html, body, [class*="css"] {
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
